{% extends parent_template|default:'chat/chat_base.html' %}
{% load static %}

{% block content %}
<head>
    <style>
        #chatLog {
            height: 300px;
            background-color: #FFFFFF;
            resize: none;
        }

        #onlineUsersSelector {
            height: 300px;
        }
    </style>
</head>

<main>
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-content">

              <!-- ***** Banner Start ***** -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="main-profile ">
                    <div class="row">
                      <div class="col-lg-4">
                        <img src="{{room_name.room_image.url}}" alt="" style="border-radius: 23px;">
                      </div>
                      <div class="col-lg-4 align-self-center">
                        <div class="main-info header-text">
                          <span>Online</span>
                          <h4>{{room_name.name|capfirst}}</h4>
                          <p></p>

                        </div>
                      </div>
                      <div class="col-lg-4 align-self-center">
                        <ul>
                          <li> Members <span>{{room_name.get_online_count}}</span></li>
                          <li>Online Members <span>16</span></li>
                          <li>Number of Messages<span>None</span></li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

 <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-8">
                    <div class="featured-games header-text">
                        <div class="heading-section">
                            <h4> Chat</h4>
                        </div>
                        <textarea class="form-control z-depth-3" id="chatLog" readonly></textarea>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control z-depth-1" id="chat-message-input" placeholder="Enter your chat message">
                        <div class="input-group-append">
                            <button class="btn btn-success" id="chat-message-submit" type="button">Send</button>
                        </div>
                    </div>
        </div>


                <div class="col-lg-4">
                  <div class="top-streamers">
                    <div class="heading-section">
                      <h4> Members</h4>
                    </div>
                        <select multiple class="form-control" id="onlineUsersSelector">
                        </select>
                  </div>
                </div>
            </div>
        </div>
 </div>
        {{ room_name.name|json_script:"room-name" }}


    </div>

</main>

<script>
        console.log("Js check from privateroom.js");
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const chatSocket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/messenger/chat_room/" + roomName + "/");
        let onlineUsersSelector = document.querySelector("#onlineUsersSelector");

        function onlineUsersSelectorAdd(value) {
            if (document.querySelector("option[value='" + value + "']")) return;
            let newOption = document.createElement("option");

            newOption.value = value;
            newOption.innerHTML = value;
            onlineUsersSelector.appendChild(newOption);
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            switch (data.type) {
                case "chat_message":
                    chatLog.value += data.user + ": " + data.message + "\n";
                    break;
                case "user_list":
                    for (let i = 0; i < data.users.length; i++) {
                        onlineUsersSelectorAdd(data.users[i]);
                }
                    break;
            }


        };

       chatSocket.onclose = function(e) {
        console.log("WebSocket connection closed unexpectedly. Trying to reconnect in 2s...");
        setTimeout(function() {
            console.log("Reconnecting...");
            connect();
        }, 2000);
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
        function onlineUsersSelectorAdd(value) {
            if (document.querySelector("option[value='" + value + "']")) return;
            let newOption = document.createElement("option");

            newOption.value = value;
            newOption.innerHTML = value;
            onlineUsersSelector.appendChild(newOption);
        }
        function onlineUsersSelectorRemove(value) {
        let oldOption = document.querySelector("option[value='" + value + "']");
        if (oldOption !== null) oldOption.remove();
        }


        onlineUsersSelector.onchange = function() {
            chatMessageInput.value = "/pm " + onlineUsersSelector.value + " ";
            onlineUsersSelector.value = null;
            chatMessageInput.focus();
        };
</script>

{% endblock content %}